<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h3 style="text-align: center; color: green">
    <table>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <tr th:each="item, state : ${items}">
            <td th:text="${productName.get(state.index)}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.total}"></td>
        </tr>
    </table>
</h3>
</body>
</html>