<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice Order</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="fontclass">
<h1 >Invoice Order (ID: 9)</h1>
<p style="font-size: 20px">Information Customer</p>
<ul>
    <li>Name: Phi Hùng </li>
    <li>Age: 34</li>
    <li>Address: Phạm Ngũ Lão, quận Ninh Kiều</li>
</ul>
<table>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>Điện thoại Galaxy A53</td>
        <td style="text-align: center" class="quantity">10</td>
        <td style="text-align: right">₫8,900,000</td>
        <td style="text-align: right">₫89,000,000</td>
    </tr>
    <tr>
        <td>CPU Core i7</td>
        <td style="text-align: center" class="quantity">20</td>
        <td style="text-align: right">₫4,760,000</td>
        <td style="text-align: right">₫95,200,000</td>
    </tr>
</table>
<p style="float: right">Total Money: ₫184,200,000</p>
</body>
</html>